/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  font-family: 'Roboto', sans-serif;
  border: 2px solid white;
}
body {
  background-color: #000000;
}
.navigation {
  background-color: white;
}
h1 {
  text-shadow: 0 1px 3px rgba(104, 99, 99, 0.836);
}
nav {
  background-color: white;
}
.top-container {
  background-color: #e0e0e0;
  border-bottom: 4px solid black;
}
.top-description {
  background-color: white;
}
.top-description p {
  border-right: 1px solid rgba(167, 164, 164, 0.432);
  border-left: 1px solid rgba(167, 164, 164, 0.432);
  padding: 0 10px;
}
.main-container {
  background-color: white;
}
.benefits-description p {
  border-right: 1px solid rgba(167, 164, 164, 0.432);
  border-left: 1px solid rgba(167, 164, 164, 0.432);
  padding: 0 5px;
}
.bottom-container {
  background-color: white;
}
footer {
  background-color: white;
}
.top-container1 {
  background-color: white;
}
.top-container1 p {
  border-right: 1px solid rgba(167, 164, 164, 0.432);
  border-left: 1px solid rgba(167, 164, 164, 0.432);
}
.main-container1 {
  background-color: white;
  border-top: 4px solid black;
  padding: 10px 0px;
}
.member {
  border-bottom: 3px solid black;
  padding: 10px 0px;
}
h3 {
  border-bottom: 2px solid #971212;
}
h2 {
  border-bottom: 2px solid #971212;
}
footer {
  border-top: 2px solid #971212;
  background-color: #e0e0e0;
}
footer p {
  background-color: white;
}
.benefits-img img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10%;
}
.member-img img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10%;
}
.icon img {
  max-height: 100%;
  max-width: 100%;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.navigation .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100px;
}
.navigation .logo .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 25px 0px ;
}
.navigation .logo h1 {
  margin: 25px 0px ;
  font-size: 2.2rem;
  width: 180px;
  height: 80px;
  text-align: center;
  border-radius: 15%;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 1.2rem;
}
.navigation nav a {
  display: block;
  color: white;
  padding: 8px;
  text-align: center;
  background-color: black;
  margin: 0;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 1rem;
  border-radius: 6px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 45%;
  height: auto;
}
@media (max-width: 1000px) {
  body {
    width: 98%;
  }
}
.top-container {
  display: flex;
  height: auto;
  margin: 0;
  padding: 10px 10px;
  text-align: center;
}
.top-container .top-description {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0px;
  align-items: center;
  padding: 0 40px;
}
.top-container .top-description h2 {
  width: 50%;
  text-align: center;
}
.top-container .top-description p {
  font-size: 1.2rem;
}
.main-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 1rem;
}
.main-container .benefits-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
@media (max-width: 500px) {
  .main-container .benefits-img {
    width: 150%;
  }
}
@media (max-width: 500px) {
  .main-container .benefits-description {
    width: 170%;
  }
}
.main-container .benefits {
  width: 30%;
}
@media (max-width: 500px) {
  .main-container .benefits {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main-container {
    flex-direction: column;
  }
}
.bottom-container {
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
}
.bottom-container .log-on {
  text-align: center;
  margin: -20px 0 20px 0;
}
.bottom-container .log-on a {
  display: block;
  color: white;
  padding: 8px;
  text-align: center;
  background-color: black;
  margin: 0;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 1rem;
  border-radius: 6px;
}
.bottom-container .contact {
  width: 90%;
  height: 100px;
  font-size: 1.1rem;
}
.bottom-container ul {
  display: flex;
  justify-content: space-between;
  margin: 0px 0 0 0;
}
footer {
  display: flex;
  font-size: 0.8rem;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.main-container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
.main-container1 .member {
  margin: 0px 20px;
  width: 95%;
  height: auto;
  display: flex;
}
.main-container1 .member .member-img {
  width: 15%;
}
@media (max-width: 500px) {
  .main-container1 .member .member-img {
    width: 35%;
    height: 120px;
    margin: 10px 0 0 0 ;
  }
}
.main-container1 .member .member-description {
  margin: 0 0 0 10px;
  width: 80%;
}
@media (max-width: 500px) {
  .main-container1 .member .member-description {
    margin: 20px 0 0px 0;
  }
}
.main-container1 .member .member-description h3 {
  width: 90%;
}
@media (max-width: 500px) {
  .main-container1 .member {
    flex-direction: column;
    align-items: center;
    height: 280px;
    width: 90%;
  }
}
