// General Styles

* {
    font-family: 'Roboto', sans-serif;
    border: 2px solid white; 
    
}

body {
    background-color: rgb(0, 0, 0);
}
.navigation {
    background-color: white;
    border-right: 4px solid rgb(224, 224, 224);
    border-left: 4px solid rgb(224, 224, 224);
    border-top: 4px solid rgb(224, 224, 224);
    padding: 0px;
}

h1 {
    
    .text-shadow();
}
nav {
    background-color: white;
    

}
.top-container {
    background-color: rgb(224, 224, 224);
    border-bottom: 4px solid black;
    
}
.top-description {
    background-color: white;
 
}
.top-description p {
    border-right: 1px solid rgba(167, 164, 164, 0.432);
    border-left: 1px solid rgba(167, 164, 164, 0.432);
    padding: 0 10px;
}
.main-container{
    background-color: white;

}
.benefits{
    border: 20px solid rgb(224, 224, 224);
    padding: 20px;
}
.benefits-description p {
    border-right: 1px solid rgba(167, 164, 164, 0.432);
    border-left: 1px solid rgba(167, 164, 164, 0.432);
    padding: 0 5px;
}


.bottom-container {
    background-color: white;
    border-right: 10px solid rgb(224, 224, 224);
    border-left: 10px solid rgb(224, 224, 224);
    border-bottom: 10px solid rgb(224, 224, 224);

}
footer {
    background-color: white;

}
.top-container1 {
    background-color: white;
    
}
.top-container1 p {
    border-right: 1px solid rgba(167, 164, 164, 0.432);
    border-left: 1px solid rgba(167, 164, 164, 0.432);
    
}
.main-container1 {
    background-color: white;
    border-top: 4px solid black;
    padding: 10px 0px;
    border-right: 10px solid rgb(224, 224, 224);
    border-left: 10px solid rgb(224, 224, 224);
    border-top: 10px solid rgb(224, 224, 224);
   
}
.member{
    border-bottom: 3px solid black;
    padding: 10px 0px;
    
}

    h3{
        border-bottom:  @borderColor;
    }
    h2 {
        border-bottom:  @borderColor;
    }
    
  footer {
      border-top: @borderColor;
      background-color:rgb(224, 224, 224);
  }
  footer p{
      background-color: white;
  }

 
  .benefits-img img{
    max-height:100%;
     max-width:100%;
     border-radius: 10%;
  }
  .member-img img{
    max-height:100%;
    max-width:100%;
    border-radius: 10%;
      
  }
  .icon img{
       max-height:100%;
    max-width:100%;
  }
  