// General Styles

* {
    font-family: 'Roboto', sans-serif;
   
    
}

body {
    background-color: black;
}
.navigation {
    background-color: white;
}

h1 {
    background-color: white;
}
nav {
    background-color: white;
}
.top-container {
    background-color: white;
}
.top-description {
    background-color: white;
}
.main-container{
    background-color: white;

}
.bottom-container {
    background-color: white;

}
footer {
    background-color: white;

}
.top-container1 {
    background-color: white;
}
.main-container1 {
    background-color: white;
}
