// Home Content
* {
    box-sizing: border-box;
    border: 2px solid gray;
}
body {
    margin: 0 30%;
    width: 900px;
    height: auto;

}
.top-container {
    display: flex;
    height: 200px;
    margin: 10px 0px;
    .top-image{
        width: 41%;
    }
    .top-description{
        margin: 0 0 0 10px;
    }
}

.main-container {
    display: flex;
    height: 400px;
    justify-content: space-between;
      .benefits-img{
          height: 200px;
      }
      .benefits{
          width: 30%

      }
}

.bottom-container {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
     .log-on{
         margin: -20px 0 20px 0;
     }
    .contact{
        
        width: 90%;
        height: 100px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 0;
    }
    
}
footer{
        display: block;
        text-align: center;
        
}




      

