// Home Content
* {
    box-sizing: border-box;
    border: 2px solid gray;
}
body {
    margin: 0 auto;;
    width: 45%;
    height: auto;
    @media @tablet {
        width: 98%;

    }

}
.top-container {
    display: flex;
    height: 200px;
    margin: 0;
    padding: 10px 0;
    .top-image{
        width: 41%;
        @media @phone{
            display: none;
        }
    }
    .top-description{
        margin: 0 0 0 10px;
    }
}

.main-container {
    display: flex;
    height: auto;
    justify-content: space-between;
      .benefits-img{
          height: 200px;
          @media @phone {
            width: 150%;
        }
      }
      .benefits-description{
          @media @phone{
              width: 170%;
          }
      }
      .benefits{
          width: 30%;
          @media @phone {
              display: flex;
            width: 100%;
        }
      }
      @media @phone{
          flex-direction: column;
      }
}

.bottom-container {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
     .log-on{
         text-align: center;
         margin: -20px 0 20px 0;
         a {
            .custom-button();
         }
     }
    .contact{
        
        width: 90%;
        height: 100px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 0;
    }
    
}
footer{
        display: block;
        text-align: center;
        
}


//// about page
.top-description1{
    margin: 0 20px;
    text-align: center;
}

.main-container1{
    display:  flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    .member{
        margin: 15px 20px;
        width: 95%;
        height: auto;
        display: flex;
        .member-img {
            width: 15%;
            @media @phone {
                width: 35%;
                height: 120px;
                margin: 10px 0 0 0 ;
            }
            
        }
        .member-description{
            margin: 0 0 0 10px;
            width: 80%;
            @media @phone {
                margin: 20px 0 0px 0;
            
            }
        }
    
        @media @phone {
            flex-direction: column;
            align-items: center;
            height: 280px;
            width: 90%;
        }
        
    }
}
