.custom-button() {
    display: block;
    color: white;
    padding: 8px;
    text-align: center;
    background-color: black;
    margin:  0;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    border-radius: 6px;
}
